@using MyHdfViewer.Models
@using MudBlazor

<p>
    Chart<br>
    Chart<br>
    Chart<br>
    Chart<br>
    Chart<br>
</p>

@code
{
    [Parameter]
    public Hdf5FileModel CurrFile { get; set; } = null!;

}
