
@using XXXBlazor.Client.Models

<h6>[GRID]</h6>
<h6>[GRID]</h6>
<h6>[GRID]</h6>



@code
{
    [Parameter]
    public Hdf5TreeNode? selectedNode { get; set; } = null;
    private Hdf5TreeNode? oldSelectedNode { get; set; } = null;


}
