@using Microsoft.FluentUI.AspNetCore.Components
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <FluentStack>
            <article class="content px-4">
                @Body
            </article>
        </FluentStack>
    </main>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
