@using XXXBlazor.Client.Models
@using DevExpress.Blazor

@inherits Hdf5TreeBase

<div>
    @if( null == selectedNode )
    {
        <div>
            Select File..
        </div>
    }
    else
    {
        <DxTreeView
            Data="@nodesList"
            SizeMode="SizeMode.Small"
            AllowSelectNodes="true"
            SelectionChanged="OnNodeSelected"
            ShowFilterPanel="true"
            FilterMinLength="2"
            FilterMode="NavigationFilterMode.EntireBranch">

            <DataMappings>
                <DxTreeViewDataMapping
                    Text="Name"
                    Children="Children"
                    Name="Path"/>
            </DataMappings>
        </DxTreeView>
    }
</div>
