@using XXXBlazor.Client.Models
@using DevExpress.Blazor

@inherits Hdf5TreeBase

<style>
    .tree-size
    {
        height: 600px;
    }
</style>

@if( null == selectedFile )
{
    <div>
        Select File..
    </div>
}
else
{
    <DxTreeView
        Data="@nodesList"
        SizeMode="SizeMode.Small"
        AllowSelectNodes="true"
        CheckMode="TreeViewCheckMode.Disabled"
        SelectionChanged="OnNodeSelected"
        ShowFilterPanel="true"
        FilterMinLength="2"
        FilterMode="NavigationFilterMode.EntireBranch"
        CssClass="tree-size">

        <DataMappings>
            <DxTreeViewDataMapping
                Text="Name"
                Children="Children"
                Name="Path"/>
        </DataMappings>
    </DxTreeView>
}

